.mobile_menu {
    background-color: red;
    width: 180px;
    position: fixed;
    /* left: 0; */
    left: -180px;
    top: 0;
    /* transition: all 0.5 s ease;
    animation: open_menu 1.5s;  */
}

@keyframes open_menu {
    0% {
        left: -180px;
    }

    70% {
        left: -30px
    }

    85% {
        left: -60px
    }
    100% {
        left: 0;
    }
}