

@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 28, 85, 0)
}

input {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    line-height: 45px;
    font-size: 42px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    line-height: 20px;
    font-size: 20px;
}

a {
    color: #001C55;
}